node_modules/
ui/output/
uiMobile/output/
*.swp
npm-debug.log
.idea/
uiMobile/screenshots/diff
ui/screenshots/diff
.DS_Store
apis/coverage/
integration/coverage
mb.log
mb.pid
mb*.log
integration/pactContractTesting/consumer
integration/output